html{
  background-image: url(../images/background.jpg);
  background-size: cover;
  opacity: 0.7;
}
h1{
  margin: 25px;
  text-align: center;
  padding: 0;
  font-family: monospace;
  color: whitesmoke;
  
}
p{
  margin: 30px;
  font-family: fantasy;
  font-size: large;
  font-weight: 800;
  font-style: normal;
  color: whitesmoke;
  
}
.list1{
  margin: 15px;
  font-family: sans-serif;
  font-size: large;
  font-weight: 800;
  font-style: normal;
  color: whitesmoke;
}
.list2{
  margin: 15px;
  font-family: sans-serif;
  font-size: large;
  font-weight: 800;
  font-style: normal;
  color: whitesmoke;
}
.wrapper{
  width: 500px;
  margin: 5% auto;
}
.form-area{
  display: flex;
  background-color: gray;
  border-radius: 25px;
  padding: 1em;
}
.radio{
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
}
.radio + .radio{
  margin-left: 15px;
}