h1{
  margin: 25px;
  text-align: center;
  padding: 0;
  font-family: monospace;
}
p{
  margin: 15px;
  font-family: fantasy;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}
.list1{
  margin: 15px;
  font-family: sans-serif;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}
.list2{
  margin: 15px;
  font-family: sans-serif;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}
.wrapper{
  width: 500px;
  margin: 5% auto;
}
.form-area{
  display: flex;
  background-color: wheat;
  border-radius: 25px;
  padding: 1em;
}